<app-header></app-header>
 <!-- <div class="about">
    
        <p>A kanban board is a visual-oraganisation tool.It enables teams and their managers to keep track of
            workflow, particularly in project management, Kanban boards are designed with a simple, streamlined
            layout, allowing users to make changes by moving cards with drag-and-drop functionality.</p>
    
</div>
<div>
    <div>
        <div class="row">
            <div class="col-lg-6">
                <h4 class="mb-4">Types of Kanban Board:</h4>
                <p class="types-of-kanban">There are two types of Kanban boards – physical and digital boards. </p>
                <p class="types-of-kanban"><strong>A physical Kanban board</strong> is the most basic form of a Kanban
                    board where teams use sticky notes (representing tasks) and a whiteboard (corkboard). Work phases
                    are represented as columns and sticky notes are getting moved from one stage to the next. </p>
            </div>
            <div class="col-lg-6">
                <img src="https://media.istockphoto.com/id/1199291049/photo/group-of-people-writing-on-sticky-notes.jpg?s=612x612&w=0&k=20&c=_q_GSPxtuTD2Mq4RuTxm52KXfngDqhVmXRZJvXlzH54=" class="kanban-board-image" width="400px"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="https://image.shutterstock.com/image-vector/scrum-task-board-kanban-visualizing-260nw-1809436141.jpg" class="kanban-board-image-digital" />
            </div>
            <div class="col-lg-6 mt-5">
                <p class="types-of-kanban"><strong>A digital Kanban board</strong> is a software solution, making it
                    much more accessible than
                    its physical counterparts. These types of boards can provide you with visibility into the progress
                    of work from virtually anywhere while facilitating team collaboration. Some digital solutions are
                    highly flexible, allowing managers to track multiple workflows and organize their work in different
                    categories. There are plenty of examples of Kanban boards successfully applied throughout industries
                    and teams with various backgrounds.</p>
            </div>

        </div>
    </div>

</div> -->

<!-- ************ -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="container mt-3" style="background-color: rgba(204, 204, 204, 0.077);" >
                    <h2>What is Kanban?</h2>
                        <p>A kanban board is a visual-oraganisation tool.It enables teams and their managers to keep track of
                            workflow, particularly in project management, Kanban boards are designed with a simple, streamlined
                            layout, allowing users to make changes by moving cards with drag-and-drop functionality.</p>
                    
                        <h3 class="mb-4"><strong>Types of Kanban Board:</strong></h3>
                        <p>There are 2 types:</p>
                        <ul>
                            <li>Physical Boards.</li>
                            <li>Digital Boards</li>
                        </ul>

                        <h4><strong>1 : Physical Board </strong> </h4>
                            <p class="types-of-kanban">A physical Kanban board is the most basic form of a Kanban
                            board where teams use sticky notes (representing tasks) and a whiteboard (corkboard). Work phases
                            are represented as columns and sticky notes are getting moved from one stage to the next. </p>

                        <h4><strong>1 : Digital Board </strong> </h4>
                        <p class="types-of-kanban"><strong>A digital Kanban board</strong> is a software solution, making it
                            much more accessible than
                            its physical counterparts. These types of boards can provide you with visibility into the progress
                            of work from virtually anywhere while facilitating team collaboration. Some digital solutions are
                            highly flexible, allowing managers to track multiple workflows and organize their work in different
                            categories. There are plenty of examples of Kanban boards successfully applied throughout industries
                            and teams with various backgrounds.</p>
                </div>
            </div>
            <!-- Right -->
            <div class="col-md-6 mt-3">
                <div class="container ">
                    <mat-card class="example-card">
                        <img src="https://images.unsplash.com/photo-1542626991-cbc4e32524cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8a2FuYmFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="kanban image">
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<app-footer></app-footer>